body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0; border:0;}
body,button,input,select,textarea{font:12px/1.6  "\5FAE\8F6F\96C5\9ED1";}/*5FAE\8F6F\96C5\9ED1  Verdana, Helvetica, sans-serif*/
h1,h2,h3,h4,h5,h6{font-size:100%;}
address,cite,dfn,em,var{font-style:normal;}
code,kbd,pre,samp{font-family:courier new,courier,monospace;}
small{font-size:12px;}
ul,ol,li{list-style:none;}
a:link,a:visited{color:#898989;text-decoration:none;}
a:hover,a:active{color:#898989;text-decoration:none;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
legend{color:#000;}
fieldset,img{border:0;}
button,input,select,textarea{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
input{outline: none;}/* �����ı������ */
textarea {outline: none;} 
a{text-decoration:none;color:#333;outline:none;}
a:hover{text-decoration:none;color:#F40;outline:none;}
/* ���?�� */
.clear:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clear {zoom:1; /* for IE6 IE7 */}
.clear2{ clear:both; height:2px;}
.clear5{ clear:both; height:5px;}
.clear6{ clear:both; height:6px;}
.clear10{ clear:both; height:10px;}
.clear20{ clear:both; height:20px;}
.clear30{ clear:both; height:30px;}
.clear40{ clear:both; height:40px;}
.fl{ float:left;}

body{font-family:"mircrosoft yahei","微软雅黑",Tahoma, Verdana, Arial, Geneva, sans-serif; background:url(../images/jdtp.jpg) no-repeat;background-size:150% auto; -moz-background-size:150% auto;}
/* content */
.content{min-width:320px;width:100%;}
	.homeimg{ position:relative; }
	.homeimg a{ display:inline-block; text-decoration:none; border:0; position:absolute;}
	.homeimg a.home_left{ left:0; width:33%; height:100%}
	.homeimg a.home_right{ right:0; width:33%; height:100%}
	.homeimg a.home_bottom{ bottom:0; width:32%; height:12%; margin-left: 35%}
	.homeimg img{ width:100%; vertical-align:bottom;}

		
	.jdtp{ width:100%; height: auto; background:url(../images/jdtp.jpg) no-repeat;background-size:150% auto; -moz-background-size:150% auto;}
		.jdtpbox{ width:86%; margin:0 auto;}
		.jdtpbox a img{ width:100%; border:0; vertical-align:bottom}
		.jdtpbox img{ width:100%; border:0;  vertical-align:bottom;}
		.jdtpbox p{ margin:10px auto 0;}
		.jdtpbox2{ width:96%; margin:0 auto;}
		.jdtpbox2 a img{ width:100%; border:0; vertical-align:bottom}
	
	.wlpt{ width:100%;}
	.wlpt{ position:relative;}
	.wlpt a{ display:inline-block; text-decoration:none; border:0; position:absolute;}
	a.icon_home{ right:0; top:8%; width:51px; height:60px; background:url(../images/icon_home.png) no-repeat; z-index:9999;}
	a.icon_draw{ bottom:3px; width:22px; height:27px; background:url(../images/icon_draw.png) no-repeat; left:50%; margin-left:-11px; z-index:9999;}
	.wlpt img{ width:100%;  vertical-align:bottom;}
	
	.nywlpt{width:100%; height: auto; background:url(../images/jdtp.jpg) no-repeat;background-size:150% auto; -moz-background-size:150% auto; position:relative;}
		.nywlpt img{ width:100%;}
		.nywlptbox{ width:86%; margin:0 auto;}
		.nywlptbox img{ width:100%; border:0;vertical-align:bottom}
		.nywlptbox p{ margin:10px auto;}
		.nywlpt a{ display:inline-block; text-decoration:none; border:0; position:absolute;}
	
	.ygzn{ width:100%; height: auto; background:url(../images/ygzn.jpg) no-repeat;background-size:150% auto; -moz-background-size:150% auto;}
		.ygznbox{ width:86%; margin:0 auto;}
		.ygznbox a img{ width:100%; border:0;  vertical-align:bottom;}
		.ygznbox img{ width:100%; border:0;  vertical-align:bottom;}
		.ygznbox p{ margin:10px auto;}
	
/* scr_con style */
.scr_con {position:relative;height:140px;width:100%;margin:10px auto;}
#dv_scroll{position:absolute;height:120px;overflow:hidden;width:90%;}
#dv_scroll .Scroller-Container{width:100%; }
#dv_scroll_bar {position:absolute;right:0;top:10px;width:14px;height:120px; background:url(../images/srcollbg.gif) no-repeat;}
#dv_scroll_bar .Scrollbar-Track{position:absolute;left:0;top:0px;width:14px;height:100px;}
#dv_scroll_bar .Scrollbar-Handle{position:absolute;left:0;top:0;width:13px;height:29px;overflow:hidden;background:url(../images/srcoll.gif) no-repeat;cursor:pointer;}
#dv_scroll_text {position:absolute;}
	
	
	.user_tabs_btn { width:300px; margin:5px auto; }
	.user_tabs_btn li{ width:300px; height:35px;}
	.user_tabs_btn li a{ display:inline-block; width:300px; height:35px;}
	
	.user_tabs_btn li a.a1{background:url(../images/425_btn1.png) bottom no-repeat; }
	.user_tabs_btn li.now a.a1{background:url(../images/425_btn1.png) top no-repeat; }
	.user_tabs_btn li a.a1:hover{background:url(../images/425_btn1.png) top no-repeat;}
	
	.user_tabs_btn li a.a2{background:url(../images/425_btn2.png) bottom no-repeat; }
	.user_tabs_btn li.now a.a2{background:url(../images/425_btn2.png) top no-repeat; }
	.user_tabs_btn li a.a2:hover{background:url(../images/425_btn2.png) top no-repeat;}
	
	.user_tabs_btn li a.a3{background:url(../images/425_btn3.png) bottom no-repeat; }
	.user_tabs_btn li.now a.a3{background:url(../images/425_btn3.png) top no-repeat; }
	.user_tabs_btn li a.a3:hover{background:url(../images/425_btn3.png) top no-repeat;}
	
	.user_tabs_btn li a.a4{background:url(../images/425_btn4.png) bottom no-repeat; }
	.user_tabs_btn li.now a.a4{background:url(../images/425_btn4.png) top no-repeat; }
	.user_tabs_btn li a.a4:hover{background:url(../images/425_btn4.png) top no-repeat;}
	
	.user_tabs_btn li a.a5{background:url(../images/425_btn5.png) bottom no-repeat; }
	.user_tabs_btn li.now a.a5{background:url(../images/425_btn5.png) top no-repeat; }
	.user_tabs_btn li a.a5:hover{background:url(../images/425_btn5.png) top no-repeat;}
	
	.user_tabs_btn li a.a6{background:url(../images/425_btn6.png) bottom no-repeat; }
	.user_tabs_btn li.now a.a6{background:url(../images/425_btn6.png) top no-repeat; }
	.user_tabs_btn li a.a6:hover{background:url(../images/425_btn6.png) top no-repeat;}
	
	.user_tabs_btn li a.a7{background:url(../images/425_btn7.png) bottom no-repeat; }
	.user_tabs_btn li.now a.a7{background:url(../images/425_btn7.png) top no-repeat; }
	.user_tabs_btn li a.a7:hover{background:url(../images/425_btn7.png) top no-repeat;}
	
	.user_tabs_btn li a.a8{background:url(../images/425_btn8.png) bottom no-repeat; }
	.user_tabs_btn li.now a.a8{background:url(../images/425_btn8.png) top no-repeat; }
	.user_tabs_btn li a.a8:hover{background:url(../images/425_btn8.png) top no-repeat;}
	
	.user_tabs_btn li a.a9{background:url(../images/425_btn9.png) bottom no-repeat; }
	.user_tabs_btn li.now a.a9{background:url(../images/425_btn9.png) top no-repeat; }
	.user_tabs_btn li a.a9:hover{background:url(../images/425_btn9.png) top no-repeat;}
	
	.user_tabs_btn2 { width:300px; margin:5px auto;}
	.user_tabs_btn2 li{ width:300px; height:35px;}
	.user_tabs_btn2 li a{ display:inline-block; width:300px; height:35px;}
	
	.user_tabs_btn2 li a.a1{background:url(../images/426_btn1.png) bottom no-repeat; }
	.user_tabs_btn2 li.now a.a1{background:url(../images/426_btn1.png) top no-repeat; }
	.user_tabs_btn2 li a.a1:hover{background:url(../images/426_btn1.png) top no-repeat;}
	
	.user_tabs_btn2 li a.a2{background:url(../images/426_btn2.png) bottom no-repeat; }
	.user_tabs_btn2 li.now a.a2{background:url(../images/426_btn2.png) top no-repeat; }
	.user_tabs_btn2 li a.a2:hover{background:url(../images/426_btn2.png) top no-repeat;}
	
	.user_tabs_btn2 li a.a3{background:url(../images/426_btn3.png) bottom no-repeat; }
	.user_tabs_btn2 li.now a.a3{background:url(../images/426_btn3.png) top no-repeat; }
	.user_tabs_btn2 li a.a3:hover{background:url(../images/426_btn3.png) top no-repeat;}
	
	.user_tabs_btn2 li a.a4{background:url(../images/426_btn4.png) bottom no-repeat; }
	.user_tabs_btn2 li.now a.a4{background:url(../images/426_btn4.png) top no-repeat; }
	.user_tabs_btn2 li a.a4:hover{background:url(../images/426_btn4.png) top no-repeat;}
	
	.user_tabs_btn2 li a.a5{background:url(../images/426_btn5.png) bottom no-repeat; }
	.user_tabs_btn2 li.now a.a5{background:url(../images/426_btn5.png) top no-repeat; }
	.user_tabs_btn2 li a.a5:hover{background:url(../images/426_btn5.png) top no-repeat;}
	
	.user_tabs_btn2 li a.a6{background:url(../images/426_btn6.png) bottom no-repeat; }
	.user_tabs_btn2 li.now a.a6{background:url(../images/426_btn6.png) top no-repeat; }
	.user_tabs_btn2 li a.a6:hover{background:url(../images/426_btn6.png) top no-repeat;}
	
	.user_tabs_btn2 li a.a7{background:url(../images/426_btn7.png) bottom no-repeat; }
	.user_tabs_btn2 li.now a.a7{background:url(../images/426_btn7.png) top no-repeat; }
	.user_tabs_btn2 li a.a7:hover{background:url(../images/426_btn7.png) top no-repeat;}
	
	.user_tabs_btn2 li a.a8{background:url(../images/426_btn8.png) bottom no-repeat; }
	.user_tabs_btn2 li.now a.a8{background:url(../images/426_btn8.png) top no-repeat; }
	.user_tabs_btn2 li a.a8:hover{background:url(../images/426_btn8.png) top no-repeat;}
	

	.user_tabs_btn3 { width:300px; margin:5px auto;}
	.user_tabs_btn3 li{ width:300px; height:35px;}
	.user_tabs_btn3 li a{ display:inline-block; width:300px; height:35px;}
	
	.user_tabs_btn3 li a.a1{background:url(../images/427_btn1.png) bottom no-repeat; }
	.user_tabs_btn3 li.now a.a1{background:url(../images/427_btn1.png) top no-repeat; }
	.user_tabs_btn3 li a.a1:hover{background:url(../images/427_btn1.png) top no-repeat;}
	
	.user_tabs_btn3 li a.a2{background:url(../images/427_btn2.png) bottom no-repeat; }
	.user_tabs_btn3 li.now a.a2{background:url(../images/427_btn2.png) top no-repeat; }
	.user_tabs_btn3 li a.a2:hover{background:url(../images/427_btn2.png) top no-repeat;}
	
	.user_tabs_btn3 li a.a3{background:url(../images/427_btn3.png) bottom no-repeat; }
	.user_tabs_btn3 li.now a.a3{background:url(../images/427_btn3.png) top no-repeat; }
	.user_tabs_btn3 li a.a3:hover{background:url(../images/427_btn3.png) top no-repeat;}
	
	.user_tabs_btn3 li a.a4{background:url(../images/427_btn4.png) bottom no-repeat; }
	.user_tabs_btn3 li.now a.a4{background:url(../images/427_btn4.png) top no-repeat; }
	.user_tabs_btn3 li a.a4:hover{background:url(../images/427_btn4.png) top no-repeat;}
	
	.user_tabs_btn3 li a.a5{background:url(../images/427_btn5.png) bottom no-repeat; }
	.user_tabs_btn3 li.now a.a5{background:url(../images/427_btn5.png) top no-repeat; }
	.user_tabs_btn3 li a.a5:hover{background:url(../images/427_btn5.png) top no-repeat;}
	
	.user_tabs_btn3 li a.a6{background:url(../images/427_btn6.png) bottom no-repeat; }
	.user_tabs_btn3 li.now a.a6{background:url(../images/427_btn6.png) top no-repeat; }
	.user_tabs_btn3 li a.a6:hover{background:url(../images/427_btn6.png) top no-repeat;}
	
	.user_tabs_btn3 li a.a7{background:url(../images/427_btn7.png) bottom no-repeat; }
	.user_tabs_btn3 li.now a.a7{background:url(../images/427_btn7.png) top no-repeat; }
	.user_tabs_btn3 li a.a7:hover{background:url(../images/427_btn7.png) top no-repeat;}
	
	.user_tabs_btn3 li a.a8{background:url(../images/427_btn8.png) bottom no-repeat; }
	.user_tabs_btn3 li.now a.a8{background:url(../images/427_btn8.png) top no-repeat; }
	.user_tabs_btn3 li a.a8:hover{background:url(../images/427_btn8.png) top no-repeat;}
	
	
	.user_tabs_body{border-bottom:#444444 1px solid; padding-bottom:10px;}
	.user_tabs_body img{ width:100%; vertical-align:bottom;}
	.none{display:none;}